<%= bootstrap_form_for ([@observative_session, @observation]) do |f| %>
  <div class="col-sm-3 clear">
  <%= f.time_field :start_time, label: 'Ora di inizio' %>
   </div>
   <div class="col-sm-9">
  <%= f.collection_select :celestial_body_id, @bodies, :id, :name, include_blank: true, label: 'Corpo celeste' %> 
  </div>
  <div class="col-sm-6">
  <%= f.collection_select :binocular_id, @binoculars, :id, :name, include_blank: true, label: 'Nome binocolo:' %>
  </div>
  <div class="col-sm-6">
  <%= f.collection_select :telescope_id, @telescopes, :id, :name, include_blank: true, label: 'Nome telescopio:' %>
  </div>
  <div class="col-sm-6">
  <%= f.collection_select :eyepiece_id, @eyepieces, :id, :name, include_blank: true, label: 'Oculare:' %>
  </div>
  <div class="col-sm-6">
  <%= f.collection_select :filter_id, @filters, :id, :name, include_blank: true, label: 'Filtro:' %>
  </div>
  <div class="col-sm-2">
  <%= f.number_field :rating, label: 'Rating', in: 0...11 %>
  </div>
  <div class="clear">
  <%= f.text_area :description, label: 'Descrizione' %>
  </div>
  <%= f.text_area :notes, label: 'Note:' %>
  <%= f.submit 'Aggiorna' %>
<% end %>


