<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">Informazioni osservazione</div>
      <div class="panel-body">
	    <p><strong>Osservatore:</strong> <%= @observation.user.name %></p>
        <p><span><strong>Ora inizio:</strong></span> 
		<% if @observation.start_time != nil %>
		<%= @observation.start_time.strftime("%H:%M") %>
		<% end %>
		</p>
		<p><span><strong>Corpo celeste:</strong></span> <%= @observation.celestial_body_name %></p>
        <p><span><strong>Binocolo:</strong></span> <%= @observation.binocular_name %></p>
		<p><span><strong>Telescopio:</strong></span> <%= @observation.telescope_name %></p>
        <p><span><strong>Oculare:</strong></span> <%= @observation.eyepiece_name %></p>
        <p><span><strong>Filtro:</strong></span> <%= @observation.filter_name %></p>
		<p><span><strong>Rating:</strong></span> <%= @observation.rating %></p>
		<p><span><strong>Descrizione:</strong> </span><%= @observation.description %></p> 
		<p><span><strong>Note:</strong></span> <%= @observation.notes %></p>
		<% if current_user == 'admin' || Date.today < current_user.subscription_expiration+31.days %>
        <%= link_to 'Modifica', edit_observative_session_observation_url(@observation.observative_session_id, @observation) %> |
        <% end %>
		<%= link_to 'Indietro', observative_session_url(@observation.observative_session_id) %>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer_logged'%>