<!-- Vista per visualizzare un singolo corpo celeste -->

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">Informazioni corpo celeste</div>
      <div class="panel-body">
        <p><span><strong>Nome:</strong></span> <%= @celestial_body.name %></p>
        <p><span><strong>Tipologia:</strong></span> <%= @celestial_body.typology %></p>
		<p><span><strong>Ascensione retta:</strong></span> <%= @celestial_body.ascension.strftime("%H° %M\' %S\"") %></p>
		<p><span><strong>Declinazione:</strong></span> <%= @celestial_body.declination %>°</p>
		<p><span><strong>Magnitudine:</strong></span> <%= @celestial_body.magnitudo %></p>
        <p><span><strong>Grandezza:</strong></span> <%= @celestial_body.size %> Km</p>
		<p><span><strong>Separazione:</strong></span> <%= @celestial_body.separation %> secondi di arco</p>
        <p><span><strong>Costellazione:</strong></span> <%= @celestial_body.constellation %></p>
        <p><span><strong>Numero mappa:</strong></span> <%= @celestial_body.map_chart_number %></p>
		<% if current_user.role == 'admin' %>
			<%= link_to 'Modifica', edit_celestial_body_path(@celestial_body) %> |
        <% end %>
		<%= link_to 'Indietro', celestial_bodies_path %>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer_logged'%>