<%= render 'outings/new_modal'%>
<div class="panel panel-default" id="outings">
  <div class="panel-heading">
	<h1 class="panel-title">Uscite</h1>
  </div>
  <div class="panel-body">
	<% if current_user.role == 'admin' %>
	<p> <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#new-outing-modal">Nuova uscita</button>
    </p>
	<% end %>
  </div>
  <table class="table">

    <tbody>
      <% @outings.each do |outing| %>
		<% if outing.day > Date.today %>
        <tr>
          <td><%= outing.day.strftime("%d/%m/%Y") %><br />
          <%= outing.location.name %><br />
          <%= outing.time.strftime('%H:%M') %><br /><br />
		  <% if current_user.role == 'admin' %>
          <%= link_to 'Modifica', edit_outing_path(outing) %> |
          <%= link_to 'Elimina', outing, method: :delete, data: { confirm: 'Sei sicuro?' } %>
		  <% end %>	
		  </td>
		</tr>
		<% end %>
      <% end %>
    </tbody>
  </table>
  <span><center><%= will_paginate @outings, previous_label: '<', next_label: '>' %></center></span>
</div>
