<!-- Vista per visualizzare un singolo binocolo -->

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">Informazioni uscita</div>
      <div class="panel-body">
        <p><span><strong>Giorno:</strong></span> <%= @outing.day %></p>
        <p><span><strong>Luogo:</strong></span> <%= @outing.location %></p>
        <p><span><strong>Ora:</strong></span> <%= @outing.time %></p>
        <%= link_to 'Modifica', edit_outing_url(@outing) %> |
        <%= link_to 'Indietro', root_path %>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer_logged'%>