<%= bootstrap_form_for(@observative_session) do |f| %>
<div class="col-sm-5">
  <%= f.date_field :date, label: 'Data' %>
   </div>
   <div class="col-sm-3">
   <%= f.time_field :start, label: 'Ora di inizio' %>
    </div>
   <div class="col-sm-3">
    <%= f.time_field :end, label: 'Ora di fine' %>
	 </div>
   <div class="col-sm-12">
  <%= f.collection_select :location_id, @locations, :id, :name, include_blank: true, label: 'Luogo' %>
  </div>
  <div class="col-sm-12">
  <p><strong>Seeing astronomico:</strong></p>
  </div>
  <div class="col-sm-5">
  <%= f.number_field :antoniadi, label: 'Scala di Antoniadi:' %>
  </div>
  <div class="col-sm-5">
  <%= f.number_field :pickering, label: 'Scala di Pickering:' %>
  </div>
  <div class="col-sm-5">
  <%= f.number_field :sky_transparency, label: 'Trasparenza del cielo:' %>
  </div>
  <div class="col-sm-12">
  <%= f.check_box :completed, label: 'Finalizza' %>
  </div>
  <div class="clear">
  <%= f.text_area :notes, label: 'Note:' %>
  </div>
  <%= f.submit 'Aggiorna' %>
<% end %>

