<%= render 'observative_sessions/new_modal' %>
<div class="panel panel-default" id = "observative_sessions">
  <div class="panel-heading">
    <h1 class="panel-title">Lista Sessioni Osservative</h1> 
  </div>
   <div class="panel-body">
	<p>
      Azioni disponibili:
      <span>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#new-session-modal">Inserisci una nuova sessione osservativa</button>
      </span>
    </p>
    <hr>
    <%= search_form_for @q, { id: '' } do |f| %>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <%= f.label :location_name_cont, 'Cerca per luogo' %>
            <%= f.search_field :location_name_cont, class: 'form-control' %>
          </div>
        </div>
		
        <div class="col-sm-2 col-sm-offset-4">
          <div class="form-group">
            <label for="order">Ordina risultati per</label>
            <%= select_tag 'order', options_for_select([['Nessuno','created_at DESC'], ['Data', 'date'], ['Luogo', 'locations.name'], ['Bortle', 'locations.bortle'], ['SQM', 'locations.sqm']], params[:order] || ''), class: 'form-control', onchange: "$('#observative_session_search').submit();" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <table class="table">
    <thead>
      <tr>
		<th>Data</th>
        <th>Luogo</th>
        <th>Scala Bortle</th>
		<th>Scala SQM</th>
        <th colspan="3">Azioni</th>
      </tr>
    </thead>

    <tbody>
      <% @observative_sessions.each do |observative_session| %>
        <tr>
		<% if observative_session.date != nil %>
		  <td><%= observative_session.date.strftime("%d/%m/%Y") %></td>
		<% end %>
		  <td>
		  <% if observative_session.location_id != nil %>
		  <%= observative_session.location.name %>
		  <% end %>
		  </td>
          <td>
		  <% if observative_session.location_id != nil %>
		  <%= observative_session.location.bortle %>
		  <% end %>
		  </td>
		  <td>
		  <% if observative_session.location_id != nil %>
		  <%= observative_session.location.sqm %>
		  <% end %>
		  </td>
          <td><%= link_to 'Visualizza', observative_session %></td>
		  <% if current_user == 'admin' || Date.today < current_user.subscription_expiration+31.days %>
			<td><%= link_to 'Modifica', edit_observative_session_path(observative_session) %></td>
            <td><%= link_to 'Elimina', observative_session, method: :delete, data: { confirm: 'Eliminando questa sessione eliminerai anche tutte le osservazioni contenute. Sei sicuro?' } %></td>
		  <% end %>
		</tr>
      <% end %>
    </tbody>
  </table>
  <span><center><%= will_paginate @observative_sessions, previous_label: 'Precedente', next_label: 'Successivo' %></center></span>
</div>
<%= render 'outings/index'%>
<%= link_to "Stampa report", report_path, class: "print" %>
<%= render 'layouts/footer_logged'%>