<!-- Vista per visualizzare un singolo corpo celeste -->

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">Informazioni luogo osservativo</div>
      <div class="panel-body">
        <p><span><strong>Nome:</strong></span> <%= @location.name %></p>
        <p><span><strong>Latitudine:</strong></span> <%= @location.latitude %></p>
		<p><span><strong>Longitudine:</strong></span> <%= @location.longitude %></p>
		<p><span><strong>Altitudine:</strong></span> <%= @location.altitude %> m</p>
		<p><span><strong>Scala di Bortle:</strong></span> <%= @location.bortle %></p>
        <p><span><strong>Scala SQM:</strong></span> <%= @location.sqm %></p>
		<% if current_user.role == 'admin' %>
			<%= link_to 'Modifica', edit_location_path(@location) %> |
        <% end %>
		<%= link_to 'Indietro', locations_path %>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer_logged'%>